#title {
    text-align: center;
}

.big-heading {
    text-align: center;
    background-color: brown;
}

.photo {
    background-color: tan;
}

.colored-section {
    background-color: tan;
}

.content-list {
    background-color: rgb(177, 110, 79);
}

.info {
    background-color: rgb(177, 110, 79);
}

.name {
    text-align: center;
    background-color: tan;
}

li {
    list-style-type: none;
}

h3 {
    background-color: brown;
}

.title-img {
    height: 25px;
    width: 45px;
    padding: 1px 3px;
}

button {
    padding: 6px;
    background-color: gray;
    color: black;
    border-radius: 2px solid black;
}

#counter {
    display: flex;
    text-align: center;
}

#count {
    padding: 5px;
}

.love {
    padding: 5px;
    color: red;
}

#lovebtn {
    color: red;
}

.like {
    padding: 5px;
}

footer {
    text-align: center;
}


