:root {
    --primary-color: #7c3f58;
    --secondary-color: #fff6d3;
    --tertiary-color: #f9a875;
    --quartenary-color: #eb6b6f;
}

#title {
    text-align: center;
}

.big-heading {
    text-align: center;
    background-color: var(--quartenary-color);
    font-size:  500%;
}

.photo {
    background-color: var(--primary-color);
}

.colored-section {
    background-color: var(--primary-color);
}

.content-list {
    background-color: var(--primary-color);
}


.info {
    background-color: var(--primary-color);
}

.info-content {
    background-color: var(--secondary-color);
    font-size: 200%;
}

.name {
    text-align: center;
    background-color: var(--secondary-color);
    font-size: 200%;
}

li {
    list-style-type: none;
    background-color: var(--secondary-color);
}

h3 {
    background-color: var(--primary-color)n;
}

.title-img {
    height: 25px;
    width: 45px;
    padding: 1px 3px;
}

button {
    padding: 6px;
    background-color: var(--tertiary-color);
    color: black;
    border-radius: 2px solid var(--quartenary-color);
}

#counter {
    display: flex;
    text-align: center;
}

#count {
    padding: 5px;
}

.love {
    padding: 5px;
    color: red;
}

#lovebtn {
    color: var(--quartenary-color);
}

.like {
    padding: 5px;
}

footer {
    text-align: center;
}


